USE [master]
GO
/****** Object:  Database [db_Stockholm]    Script Date: 24.06.2025 00:57:51 ******/
CREATE DATABASE [db_Stockholm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_Stockholm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\db_Stockholm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_Stockholm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\db_Stockholm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_Stockholm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_Stockholm]
GO
/****** Object:  User [user]    Script Date: 24.06.2025 00:57:51 ******/
CREATE USER [user] FOR LOGIN [user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [user]
GO
/****** Object:  Table [dbo].[tbl_Business]    Script Date: 24.06.2025 00:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Business](
	[bss_ID] [nvarchar](15) NOT NULL,
	[bss_TaxOffice] [nvarchar](50) NULL,
	[bss_CompRegNo] [nvarchar](50) NULL,
	[bss_BusinessName] [nvarchar](100) NULL,
	[bss_UserNameSurname] [nvarchar](50) NULL,
	[bss_Phone] [nvarchar](15) NULL,
	[bss_Mail] [nvarchar](50) NULL,
	[bss_Country] [nvarchar](100) NULL,
	[bss_City] [nvarchar](100) NULL,
	[bss_District] [nvarchar](100) NULL,
	[bss_Nightbrood] [nvarchar](100) NULL,
	[bss_Address] [nvarchar](500) NULL,
 CONSTRAINT [PK_tbl_Business] PRIMARY KEY CLUSTERED 
(
	[bss_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Category]    Script Date: 24.06.2025 00:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Category](
	[ctg_ID] [nvarchar](20) NOT NULL,
	[ctg_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_Category] PRIMARY KEY CLUSTERED 
(
	[ctg_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Invoice]    Script Date: 24.06.2025 00:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Invoice](
	[inv_Invoice] [nvarchar](50) NOT NULL,
	[inv_Date] [nvarchar](10) NULL,
	[inv_Type] [nvarchar](5) NULL,
	[inv_Products] [int] NULL,
 CONSTRAINT [PK_tbl_Invoice] PRIMARY KEY CLUSTERED 
(
	[inv_Invoice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_InvoiceBusiness]    Script Date: 24.06.2025 00:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_InvoiceBusiness](
	[inv_bss_Invoice] [nvarchar](50) NOT NULL,
	[inv_bss_ID] [nvarchar](15) NOT NULL,
	[inv_bss_TaxOffice] [nvarchar](50) NULL,
	[inv_bss_CompRegNo] [nvarchar](50) NULL,
	[inv_bss_BusinessName] [nvarchar](100) NULL,
	[inv_bss_UserNameSurname] [nvarchar](50) NULL,
	[inv_bss_Phone] [nvarchar](15) NULL,
	[inv_bss_Mail] [nvarchar](50) NULL,
	[inv_bss_Country] [nvarchar](100) NULL,
	[inv_bss_City] [nvarchar](100) NULL,
	[inv_bss_District] [nvarchar](100) NULL,
	[inv_bss_Nightbrood] [nvarchar](100) NULL,
	[inv_bss_Address] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_InvoiceStock]    Script Date: 24.06.2025 00:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_InvoiceStock](
	[inv_stk_Invoice] [nvarchar](50) NOT NULL,
	[inv_stk_Code] [nvarchar](50) NOT NULL,
	[inv_stk_Name] [nvarchar](50) NULL,
	[inv_stk_ctg_ID] [nvarchar](20) NULL,
	[inv_stk_ctg_Name] [nvarchar](50) NULL,
	[inv_stk_UnitType] [nvarchar](10) NULL,
	[inv_stk_Amount] [int] NULL,
	[inv_stk_KDV] [numeric](5, 2) NULL,
	[inv_stk_Price] [money] NULL,
	[inv_stk_SellPrice] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_LoginAccount]    Script Date: 24.06.2025 00:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_LoginAccount](
	[acc_ID] [int] IDENTITY(1,1) NOT NULL,
	[acc_Username] [nvarchar](20) NOT NULL,
	[acc_Password] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_tbl_LoginAccount] PRIMARY KEY CLUSTERED 
(
	[acc_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_MailSetting]    Script Date: 24.06.2025 00:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MailSetting](
	[mal_ID] [int] IDENTITY(1,1) NOT NULL,
	[mal_Mail] [nvarchar](50) NULL,
	[mal_Password] [nvarchar](50) NULL,
	[mal_Port] [int] NULL,
	[mal_Host] [nvarchar](50) NULL,
	[mal_Auth] [bit] NULL,
	[mal_Starttls] [bit] NULL,
 CONSTRAINT [PK_tbl_MailSetting] PRIMARY KEY CLUSTERED 
(
	[mal_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Notepad]    Script Date: 24.06.2025 00:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Notepad](
	[not_ID] [int] IDENTITY(1,1) NOT NULL,
	[not_Title] [nvarchar](50) NULL,
	[not_Text] [nvarchar](1000) NULL,
 CONSTRAINT [PK_tbl_Notepad] PRIMARY KEY CLUSTERED 
(
	[not_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ShowMessage]    Script Date: 24.06.2025 00:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ShowMessage](
	[mes_ID] [int] IDENTITY(1,1) NOT NULL,
	[mes_Text] [nvarchar](1000) NULL,
 CONSTRAINT [PK_tbl_ShowMessage] PRIMARY KEY CLUSTERED 
(
	[mes_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Stock]    Script Date: 24.06.2025 00:57:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Stock](
	[stk_ID] [nvarchar](50) NOT NULL,
	[stk_Name] [nvarchar](50) NULL,
	[stk_ctg_ID] [nvarchar](20) NOT NULL,
	[stk_UnitType] [nvarchar](10) NULL,
	[stk_Amount] [int] NULL,
	[stk_KDV] [numeric](5, 2) NULL,
	[stk_Price] [money] NULL,
 CONSTRAINT [PK_tbl_Stock] PRIMARY KEY CLUSTERED 
(
	[stk_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_InvoiceBusiness]  WITH CHECK ADD  CONSTRAINT [FK_tbl_InvoiceBusiness_tbl_Invoice] FOREIGN KEY([inv_bss_Invoice])
REFERENCES [dbo].[tbl_Invoice] ([inv_Invoice])
GO
ALTER TABLE [dbo].[tbl_InvoiceBusiness] CHECK CONSTRAINT [FK_tbl_InvoiceBusiness_tbl_Invoice]
GO
ALTER TABLE [dbo].[tbl_InvoiceStock]  WITH CHECK ADD  CONSTRAINT [FK_tbl_InvoiceStock_tbl_Invoice] FOREIGN KEY([inv_stk_Invoice])
REFERENCES [dbo].[tbl_Invoice] ([inv_Invoice])
GO
ALTER TABLE [dbo].[tbl_InvoiceStock] CHECK CONSTRAINT [FK_tbl_InvoiceStock_tbl_Invoice]
GO
ALTER TABLE [dbo].[tbl_Stock]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Stock_tbl_Category] FOREIGN KEY([stk_ctg_ID])
REFERENCES [dbo].[tbl_Category] ([ctg_ID])
GO
ALTER TABLE [dbo].[tbl_Stock] CHECK CONSTRAINT [FK_tbl_Stock_tbl_Category]
GO
USE [master]
GO
